<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>19DD52F5-971E-4B4D-8B82-2A1B59BD61DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>994A2A4A-8B96-4144-908A-929FB4EA75F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1D492AAE-EF84-4696-A958-597B67A40EAC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>224CF4EA-4B3A-4C99-88BC-BFE01DEE3C84</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>224CF4EA-4B3A-4C99-88BC-BFE01DEE3C84</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B55AEBE1-C55E-4072-B181-67D9577619B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9220321E-F63F-4624-A871-F3290A28A268</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0B842A25-28CD-4B66-96AF-261FEF30292F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C9A9F080-44C4-44A6-9B60-22EF3DE96B47</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0B842A25-28CD-4B66-96AF-261FEF30292F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A45B683D-8FBD-48F4-A61B-5A031EC72ECA</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>994A2A4A-8B96-4144-908A-929FB4EA75F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0D7B704-4CC6-493C-95B1-AF6303430B11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9220321E-F63F-4624-A871-F3290A28A268</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>603CC13A-BF3D-4D5D-81CE-0EC64F173AA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C9A9F080-44C4-44A6-9B60-22EF3DE96B47</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>603CC13A-BF3D-4D5D-81CE-0EC64F173AA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A45B683D-8FBD-48F4-A61B-5A031EC72ECA</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>switch apps</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/VimR.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>B55AEBE1-C55E-4072-B181-67D9577619B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1D492AAE-EF84-4696-A958-597B67A40EAC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:focusedapp}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>com.googlecode.iterm2</string>
						<key>outputlabel</key>
						<string>if Iterm2 then open Vimr</string>
						<key>uid</key>
						<string>9220321E-F63F-4624-A871-F3290A28A268</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:focusedapp}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>com.qvacua.VimR</string>
						<key>outputlabel</key>
						<string>if Vimr then open Iterm2</string>
						<key>uid</key>
						<string>C9A9F080-44C4-44A6-9B60-22EF3DE96B47</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:focusedapp}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>com.googlecode.iterm2</string>
						<key>outputlabel</key>
						<string>else open Iterm2</string>
						<key>uid</key>
						<string>A45B683D-8FBD-48F4-A61B-5A031EC72ECA</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>224CF4EA-4B3A-4C99-88BC-BFE01DEE3C84</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/iTerm.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>0B842A25-28CD-4B66-96AF-261FEF30292F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/VimR.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>D0D7B704-4CC6-493C-95B1-AF6303430B11</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>19DD52F5-971E-4B4D-8B82-2A1B59BD61DC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:focusedapp}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>company.thebrowser.Browser</string>
						<key>outputlabel</key>
						<string>if Arc then open Vimr</string>
						<key>uid</key>
						<string>9220321E-F63F-4624-A871-F3290A28A268</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:focusedapp}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>com.qvacua.VimR</string>
						<key>outputlabel</key>
						<string>if Vimr then open Arc</string>
						<key>uid</key>
						<string>C9A9F080-44C4-44A6-9B60-22EF3DE96B47</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:focusedapp}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>company.thebrowser.Browser</string>
						<key>outputlabel</key>
						<string>else open Arc</string>
						<key>uid</key>
						<string>A45B683D-8FBD-48F4-A61B-5A031EC72ECA</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>994A2A4A-8B96-4144-908A-929FB4EA75F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Arc.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>603CC13A-BF3D-4D5D-81CE-0EC64F173AA9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0B842A25-28CD-4B66-96AF-261FEF30292F</key>
		<dict>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>19DD52F5-971E-4B4D-8B82-2A1B59BD61DC</key>
		<dict>
			<key>xpos</key>
			<real>90</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>1D492AAE-EF84-4696-A958-597B67A40EAC</key>
		<dict>
			<key>xpos</key>
			<real>95</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>224CF4EA-4B3A-4C99-88BC-BFE01DEE3C84</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>603CC13A-BF3D-4D5D-81CE-0EC64F173AA9</key>
		<dict>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>994A2A4A-8B96-4144-908A-929FB4EA75F2</key>
		<dict>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>B55AEBE1-C55E-4072-B181-67D9577619B8</key>
		<dict>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>D0D7B704-4CC6-493C-95B1-AF6303430B11</key>
		<dict>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
